<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layouts/clientlayout.html}">

<head>
<title>Ogani | Shopping cart</title>
</head>

<body>
	<div layout:fragment="content">
		<table th:each="product : ${products}">
			<tr>
				<td>Product ID</td>
				<td>Product Name</td>
				<td>Product Price</td>
				<td>Product Quantity</td>
				<td>Product Unit</td>
				<td>PRoduct Iamge</td>
				<td>Product View</td>
				<td>Product Description</td>
				<td>Product discount</td>
				<td>Product Date Create</td>
				<td></td>
			</tr>
			<tr>
				<td th:text="${product.productId}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.price}"></td>
				<td th:text="${product.quantity}"></td>
				<td th:text="${product.unit}"></td>
				<td th:text="${product.image}"></td>
				<td th:text="${product.views}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.discount}"></td>
				<td th:text="${product.creationDate}"></td>
				<td><a th:href="@{/Client/ShoppingCart/Add/{id} (id = ${product.productId})}">Add to cart</a></td>
			</tr>
		</table>
	</div>
</body>

</html>