<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"></link>
</head>

<body>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header col d-flex justify-content-center">
				<h2>Danh sách user</h2>
			</div>
		</div>
		<div class="card-body">
			<div class="input-group col d-flex justify-content-end mb-3">
				<input type="text" class="" placeholder="Search">
				<div class="input-group-append">
					<button class="btn btn-success" type="submit">Go</button>
				</div>
			</div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Display Name</th>
						<th>Email</th>
						<th>Role</th>
						<th>Enable</th>
						<th class="text-center">Update</th>
						<th class="text-center">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" listuser : ${list}">
						<td th:text="${listuser.getUserId()}"></td>
						<td th:text="${listuser.getDisplayName()}"></td>
						<td th:text="${listuser.getEmail()}"></td>
						<td th:text="${listuser.getRole()}"></td>
						<td th:text="${listuser.isEnable()}"></td>
						<td class="text-center"><a href="" class="btn btn-warning"
							role="button">Update</a></td>
						<td class="text-center"><a onclick="" href=""
							class="btn btn-danger" role="button">Delete</a></td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-success" href="index.php?page_layout=add">Thêm
				mới</a>
		</div>
	</div>
	<script>
		function Del(name) {
			return confirm("Bạn có chắc muốn xóa sản phẩm " + name + "?");
		}
	</script>
</body>